* {
    padding: 0;
    margin: 0;
    font-family: 'poppins' sans-serif;
}

.hero {
    width: 100%;
    height: 100vh;
    background: #f6fbff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1 {
    margin-bottom: 80px;
    position: relative;
    font-size: 36px;
}

h1::after {
    content: '';
    width: 150px;
    height: 3px;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to right, #f44336, #9f4db5);
    position: absolute;
    bottom: -20px;
    left: 25%;
    transform: translateX(-30%);
}

.details-box {
    width: 90%;
    max-width: 900px;
    height: 300px;
    border-radius: 10px;
    box-shadow: 10px 10px 40px rgba(0, 0, 0, 0.25);
    position: relative;
    overflow: hidden;
}

.card {
    height: 300px;
    padding: 40px;
    color: #777;
    line-height: 22px;
    box-sizing: border-box;
    background: white;
    position: relative;
}

.profile {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}

.profile img {
    width: 70px;
    /* height: 250px; */
    border-radius: 50%;
    margin-right: 20px;
}

.profile h3 {
    font-size: 26px;
    color: #dd18f7;
    margin-bottom: 8px;
}

#slide {
    width: 100%;
    padding-right: 60px;
    box-sizing: border-box;
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.5s;
}

.sidebar {
    width: 60px;
    height: 100%;
    padding: 15px 0;
    box-sizing: border-box;
    background: #dd18f7;
    position: absolute;
    right: 0;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    /* filter: invert(100%) sepia(0%) saturate(7443%) hue-rotate(198deg) brightness(126%) contrast(112%); */
}

.sidebar img {
    width: 25px;
    padding: 5px;
    background: #fff;
    border-radius: 50%;
    cursor: pointer;
}

::selection {
    background: #dd18f7;
    color: white;
}